pkgbase = cafe-code
	pkgdesc = Desktop GUI for coding agents such as Codex, Claude, and OpenCode
	pkgver = 0.0.51
	pkgrel = 1
	url = https://github.com/cafeai/cafe-code
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = bun>=1.3.11
	makedepends = git
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = fuse2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libgcc
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	provides = cafe-code
	conflicts = cafe-code-bin
	conflicts = cafe-code-git
	options = !strip
	source = cafe-code-0.0.51.tar.gz::https://github.com/cafeai/cafe-code/archive/375b6839de96f0415556c3630ab8a5c372a9692c.tar.gz
	source = cafe-code.sh
	source = cafe-code.desktop
	sha256sums = 312ad26e2065c89c7aa084d06891a2ebf66ff369fe16c0fb409d4fd64dc4718d
	sha256sums = 383949547cd494ebfb6c3b13c964a46958e369e30df1164983f4af7ea8214e80
	sha256sums = 5ea69e60ca4afc9abfa298d2464221d22e5f4c211059c04473ede3bd594c80ff

pkgname = cafe-code
